.about__content{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-start;
}
.about__content__left{
    width: 200px;
    min-height: 500px;
    box-shadow: 3px 1px 20px 0 #90797985;
}
.about__content__left a{
    color: inherit;
    transition: 300ms;
    line-height: 1.8;
    margin-left: 4px;
}
.about__content__left a:hover{
    box-shadow:0 0 0 4px rgba(0, 0, 0, 0.70);
    background: rgba(0, 0, 0, 0.70);
    border-radius: 7px;
}
.about__fat-text{
    font-weight: 700;
    line-height: 1.8;
    font-size: 15px;
    margin: 15px 5px 2px 5px;
}
.about__ul{
    list-style-type: none;
    margin: 0 5px;
    padding-left: 25px;
}
.about__content__left-hr{
    margin: 0;
    width: 90%;
}
.about__ul-li{
    text-decoration: underline;
    padding: 2px 0;
}
.about__content__right{
    max-width: 824px;
    min-height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about__content__right__first{
    max-width: 800px;
    margin: 5px 5px 20px 5px;
}
.about__fat-text-noLine-h{
    font-weight: 700;
    font-size: 15px;
    margin: 5px 5px 2px 5px;
}
.about__fat-text-right{
    font-weight: 700;
    font-size: 15px;
    margin: 5px 5px 2px 5px;
    text-align: right;
}
.about__content__right__second{
    max-width: 380px;
    margin: 5px auto;
}
.about__content__right__second-img{
    width: 70px;
}
.about__content__right__second-left{
    width: 80px;
    height: 200px;
    float: left;
}
.about__fat_second-block{
    font-weight: 700;
    font-size: 15px;
    margin: 0 0 10px 5px;
}
@media screen and (max-width: 400px){
    .about__content__right__second-left{
        display: none;
    }
    .about__content__right__second{
        margin-left: 3px;
    }
}